@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  margin : 0 auto;
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  width: max-content;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
.nav{
  width: 100vw;
  background: #1A1A40;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-heading{
  text-align: center;
}
.logout-button{
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 5px;
}
.login-btn{


  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 5px;
}
/* Styles for the LoginForm component */

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: translateY(50%);
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-main input[type="email"],
.login-main input[type="password"] {
  outline: none;

  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.login-main input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #8758ff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-main input[type="submit"]:hover {
  background: #6f36ff;
}

.signup-btn {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  color: #6f36ff;
  text-decoration: none;
}

.signup-btn:hover {
  text-decoration: underline;
}



.signup-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: translateY(50%);
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: max-content;
  flex-direction: column;
  gap: 15px;
}

.signup-main input[type="username"],
.signup-main input[type="email"],
.signup-main input[type="password"] {
  outline: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}



.signup-main input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #8758ff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signup-main input[type="submit"]:hover {
  background: #6f36ff;
}

.toastify {
  font-size: 14px;
}

